{% extends 'ehealth/base.html' %}
{% block title %}Add a New MedRecord{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Patient Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'ehealth:detail' patient.id %}">
                            {% if patient.pat_img %}
                                <img src="{{ patient.pat_img.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h1>{{ patient.pat_name }} <small>{{ patient.bloodtype }}</small></h1>
                    <h2>{{ patient.clinician }}</h2>
                </div>
            </div>
        </div>

        <!-- Right MedRecord Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'ehealth:detail' patient.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'ehealth:create_medrecord' patient.id %}">Add New MedRecord</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New MedRecord</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="patient" value="{{ patient }}">
                        {% include 'ehealth/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
